* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  header {
    margin-top: 10vh;
  }
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  .navDisplay {
    display: flex;
    justify-content: space-between;
  }
  .myName {
    margin-left: 10vw;
  }
  .navLinks {
    display: none;
  }
  .hamburger {
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10vw;
  }
  .hamburger span {
    height: 5px;
    width: 35px;
    background-color: black;
    display: block;
    margin: 6px 0;
  }
  header img {
    max-width: 50vw;
    max-height: 50vw;
    margin-top: 5vh;
  }
  .bio h4 {
    margin: 0 5vw;
  }
  header h4 {
    margin: 0 5vw;
  }
  @media (min-width: 768px) {
    header {
      margin-top: 5vh;
      margin-bottom: 3vh;
    }
    header img {
      max-width: 50vw;
      max-height: 50vw;
      margin-top: 2vh;
    }
    .navLinks {
      display: inline-block;
      margin-top: 25px;
      margin-right: 10vw;
    }
    .navLinks a {
      margin-right: 5px;
    }
    .hamburger{
      display: none;
    }
    .bio h4 {
      margin: 0 15vw;
    }
    header h4 {
      margin: 0 15vw;
    }
  }